.itemImg {
  width: 150px;
  height: 150px;
}

.divCarrito {
  display: flex;
  align-items: center;
  height: max-content;
  flex-direction: column;
  padding: 25px;
}

.divProducto {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: pink;
  margin: 3%;
}

.articleDetalle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.articlePrecio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carritoVacio {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 100px;
  align-items: center;
}

.btnCarrito {
  font-size: large;
  height: 50px;
  width: 260px;
  background-color: lightpink;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.linkCarrito {
  color: black;
  text-decoration: none;
}

.terminarCompra {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}
