.detalle {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.desc {
  margin: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textoDes {
  padding: 25px;
  font-size: medium;
  width: 300px;
  height: 50px;
  font-style: italic;
}

.precio {
  font-size: x-large;
  font-style: bold ;
}

.imgDetail {

  width: 450px;
  height: 450px;

}

.btnDetail {
  background-color: white;
  height: 40px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}