.contenedor {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ddd5d7;
  margin: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
  border-radius: 2%;
  
}
.contenedor2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 88vh;
}


