/* .div {
  display: flex;
  flex-direction: row;
  height: 550px;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  color: white;
  font-size: medium;
}
 */
.articulo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3%;
  justify-content: space-around;
}
.card {
  display: flex;
  width: 300px;
  height: 400px;
  flex-direction: column;
  align-self: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  align-items: center;
  background-color: pink;
  text-align: center;
  justify-content: flex-end;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.img {
  margin-bottom: 5%;
  width: 200px;
  height: 200px;
}
