.div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.articulo {
  max-width: 1370px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3%;
  justify-content: space-around;
}
.card {
  display: flex;
  width: 325px;
  flex-direction: column;
  align-self: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  align-items: center;
  background-color: pink;
  text-align: center;
  justify-content: space-around;
}

.card:hover {
   box-shadow: 5px 5px 5px 5px rgba(252, 138, 176, 0.89);
}

.img {
  border: black 1px solid;
  margin-bottom: 5%;
  width: 200px;
  height: 200px;
}

@media (max-width: 750px) {
  .card {
    width: 280px;
  }
}

@media (max-width: 360px) {
  .card {
    width: 225px;
  }
}
