.navBar {
  width: 100%;
  background-color: pink;
  margin: 0%;
  padding: 0%;
}

.linkNav {
  outline: none;
  text-decoration: none;
  color: white;
}

.linkNavcomp{
  outline: none;
  text-decoration: none;
  color: black;
}
