.pie {
  display: flex;
  height: 50vh;
  width: 100%;
  align-content: flex-end;
  align-items: flex-end;
  justify-content: center;
}

.span {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: pink;
  height: 30px;
  width: 100%;
}
